{
  "branches":
    [{ name: "master" }, { name: "test", channel: "beta", prerelease: "alpha" }],
  "plugins":
    [
      [
        "semantic-release-gitmoji",
        { "releaseRules": { "patch": { "include": [":bento:"] } } },
      ],
      ["@semantic-release/changelog", { "changelogFile": "CHANGELOG.md" }],
      [
        "@semantic-release/git",
        {
          "assets": ["package.json", "package-lock.json", "CHANGELOG.md"],
          "message": "🔖 release: ${nextRelease.version} \n ${nextRelease.notes}",
        },
      ],
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
    ],
}
